<!DOCTYPE html>
<html>
	<head>
		<title>Odwiedzone browary</title>
		<meta charset="utf-8">

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		<script src="https://unpkg.com/vue2-leaflet@1.0.1/dist/vue2-leaflet.js"></script>
		<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/speakingurl/13.0.0/speakingurl.min.js"></script>

		<script type="text/javascript" src="data/countries.js"></script>
		<script type="text/javascript" src="data/breweries.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=greek,latin" rel="stylesheet">
		<link rel="icon" href="./assets/icon.png">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
		<style type="text/css">
			* { font-family: "Roboto", sans-serif; }
			html, body, #app { height: 100%; margin: 0; }
			.floating.menu { position: absolute; top: 0; right: 0; z-index: 999; margin: 1em; }
			.floating.menu > .menu { margin-bottom: 0; }
			.floating.menu > .box { background: White; padding: 1em; }
			.clickable { cursor: pointer; }
			.inactive * { opacity: .5; }
			.hidden { opacity: 0 !important; }
			.item > i.icon { display: inline-block !important; }
			#app { display: flex; }
			.panel.map { flex: 3; order: 1; }
			.panel.list { padding: 3em; overflow: auto; order: 3; transition: all .5s; }
			.panel.list.full.width { flex: 1; transition: all .5s; }
			.panel.details { padding: 3em; overflow: auto; flex: 1;; order: 2; transition: all .5s; }
			.additional.info { display: block; opacity: .5; font-weight: 400; font-size: .85714286em; }
			.divider { margin-top: 2em !important; margin-bottom: 2em !important; }
			.relative.label { position: relative; }
			.relative.label > i { position: absolute; top: 32px; right: 0; }
			.show.panel.button { display: none; position: fixed; top: 1em; right: 1em; z-index: 999; }
			.show.panel.button > i { margin: 0 !important; }

			@media only screen and (max-width: 720px) {
				#app { flex-direction: column; }
				.show.panel.button { display: block; }
				.panel.map { flex: 2; order: 5; }
				.panel.list { display: none; }
				.panel.list:not(.full):not(.width) { display: none; }
			}

			.ui.feed > .event {
				padding: 0;
				min-height: 64px;
			}

			.ui.feed > .event .label {
				border-left: 3px solid #DDDDDD;
				margin-left: 1.6em;
			}
			.ui.feed > .event:last-child .label {
				border-left-color: transparent;
			}

			.ui.feed > .event > .label > img,
			.ui.feed > .event > .label > .icon {
				background-color: #009FDA;
				border-radius: 500rem;
				color: #FFFFFF;
				width: 3rem;
				height: 3rem;
				line-height: 1.5;
				left: -1.6rem;
				opacity: 1;
				position: relative;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<l-map ref="map" class="map panel">
				<l-tile-layer :url="mapAttributes.url" :attribution="mapAttributes.attribution"></l-tile-layer>
				<l-circle-marker v-for="(brewery, i) in reversedFilteredBreweries" :lat-lng="brewery.marker" :color="getColor(brewery)" :fill-color="getColor(brewery)" :opacity="getOpacity(brewery)" :fill-opacity="getFillOpacity(brewery)" :radius="12" :key="i" @click="selectBrewery(brewery)"></l-marker>
			</l-map>

			<a href="" class="ui show panel primary button">
				<i class="bars icon"></i>
			</a>

			<div class="list panel" :class="{ 'full width': !selectedBrewery }" ref="breweries">
				<div v-if="!selectedBrewery">
					<h2 class="ui header">
						Odwiedzone browary
						<span v-if="filteredBreweries.length === visibleBreweries.length">({{ filteredBreweries.length }})</span>
						<span v-else>({{ filteredBreweries.length }}/{{ visibleBreweries.length }})</span>

						<div class="sub header" v-if="lastVisit">
							stan na {{ lastVisit.format('MMMM Y') }}
						</div>
					</h2>

					<div class="ui horizontal divider">
						szukaj
					</div>

					<div class="ui fluid icon input">
						<i class="search icon"></i>
						<input placeholder="Przeszukaj listę..." type="text" v-model="searchPhrase">
					</div>

					<div class="ui horizontal divider">
						filtruj
					</div>

					<div class="ui three item menu">
						<a class="item" v-for="item in menuItems" :class="{ active: isFilterBoxActive(item.name) }" @click="toggleFilterBox(item.name)">
							<span v-if="isFilterSet(item.filter)">
								<i class="filter icon"></i>
								<strong>{{ item.label }}</strong>
							</span>
							<span v-else>
								{{ item.label }}
							</span>
						</a>
					</div>

					<div class="ui raised segment" v-if="isFilterBoxActive('countries')">
						<div class="ui divided relaxed list">
							<li class="clickable item" v-for="country in countries" @click="filterByCountry(country)" :class="{ inactive: isInactiveCountryBySymbol(country.symbol) }">
								<i class="flag" :class="country.symbol"></i>
								<span>{{ country.name }} ({{ country.breweries }})</span>
								<div class="right floated content" :class="{ hidden: filters.country !== country.symbol }">
									<i class="close icon"></i>
								</div>
							</li>
						</div>
					</div>

					<div class="ui raised segment" v-if="isFilterBoxActive('types')">
						<div class="ui divided relaxed list" v-if="isFilterBoxActive('types')">
							<li class="clickable item" v-for="type in types" @click="filterByType(type.label)" :class="{ inactive: isInactiveTypeByName(type.label) }">
								<i class="factory icon"></i>
								<span>{{ type.label }} ({{ type.breweries }})</span>
								<div class="right floated content" :class="{ hidden: !filters.type || filters.type !== type.label }">
									<i class="close icon"></i>
								</div>
							</li>
						</div>
					</div>

					<div class="ui raised segment" v-if="isFilterBoxActive('years')">
						<div class="ui divided relaxed list" v-if="isFilterBoxActive('years')">
							<li class="clickable item" v-for="year in years" @click="filterByYear(year.year)" :class="{ inactive: filters.year && filters.year !== year.year }">
								<i class="outline calendar icon"></i>
								<span>{{ year.year }} ({{ year.breweries }})</span>
								<div class="right floated content" :class="{ hidden: !filters.year || filters.year !== year.year }">
									<i class="close icon"></i>
								</div>
							</li>
						</div>
					</div>

					<div class="ui horizontal divider">
						lista browarów
					</div>
				</div>

				<div class="ui feed">
					<div class="clickable event" v-for="brewery in filteredBreweries" @click="selectBrewery(brewery)" :class="{ inactive: !shouldBreweryBeActive(brewery) }" :ref="getBreweryRef(brewery)">
						<div class="relative label" :title="brewery.name">
							<img :src="getBreweryLogo(brewery)">
							<i class="flag" :class="brewery.country" v-if="selectedBrewery"></i>
						</div>
						<div class="content" v-if="!selectedBrewery">
							<div class="summary">
								<i class="flag" :class="brewery.country"></i>
								<strong>{{ brewery.name }}</strong>
								<div class="additional info">
									{{ brewery.place }} ● {{ brewery.visited.format('MMMM Y') }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="details panel" v-if="selectedBrewery">
				<button class="ui fluid icon button" @click="resetSelectedBrewery()">
					schowaj szczegóły
					<i class="chevron right icon"></i>
				</button>

				<div class="ui horizontal divider">
					szczegóły
				</div>

				<h2 class="ui header">
					<img :src="getBreweryLogo(selectedBrewery)" class="ui circular image">
					<div class="content">
						{{ selectedBrewery.name }}
						<div class="sub header">
							<i class="factory icon"></i> {{ selectedBrewery.type }}
						</div>
						<div class="sub header">
							<i class="marker icon"></i> {{ selectedBrewery.place }}
						</div>
						<div class="sub header">
							<i class="globe icon"></i> {{ getCountryNameBySymbol(selectedBrewery.country) }}
						</div>
					</div>
				</h2>

				<div class="ui horizontal divider" v-if="selectedBrewery.decription">
					opis
				</div>

				<p v-if="selectedBrewery.decription">
					{{ selectedBrewery.decription }}
				</p>
			</div>
		</div>
		<script type="text/javascript">
			const maxZoomForRecalculatingBounds = 13;
			var { LMap, LTileLayer, LCircleMarker } = Vue2Leaflet;

			Array.prototype.random = function() {
				return this[Math.floor((Math.random() * this.length))];
			}

			new Vue({
				el: "#app",
				components: { LMap, LTileLayer, LCircleMarker },
				data() {
					return {
						defaultIcon: "./assets/icon.png",
						mapAttributes: {
							attribution: "&copy; Krzysztof Rewak",
							url: "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png",
						},
						countries: [],
						breweries: [],
						years: [],
						types: [],
						searchPhrase: "",
						filterBox: null,
						filters: {
							country: null,
							type: null,
							year: null,
						},
						menuItems: [
							{ name: "countries", label: "Państwa", filter: "country" },
							{ name: "types", label: "Browary", filter: "type" },
							{ name: "years", label: "Wizyty", filter: "year" },
						],
						lastVisit: null,
						selectedBrewery: null,
						hideSidebar: true,
						showPlannedVisits: true,
					}
				},
				computed: {
					visibleBreweries() {
						let breweries = this.breweries;

						if(!this.showPlannedVisits) {
							breweries = breweries.filter(function(brewery) {
								return brewery.visited.isSameOrBefore(moment());
							})
						}

						return breweries;
					},
					filteredBreweries() {
						let breweries = this.visibleBreweries;
						let self = this;

						if(this.filters.country) {
							breweries = breweries.filter(function(brewery) {
								return brewery.country === self.filters.country;
							});
						}

						if(this.filters.type) {
							breweries = breweries.filter(function(brewery) {
								return brewery.type === self.filters.type;
							});
						}

						if(this.filters.year) {
							breweries = breweries.filter(function(brewery) {
								return brewery.visited.format("Y") === self.filters.year;
							});
						}

						if(this.searchPhrase) {
							breweries = breweries.filter(function(brewery) {
								let searchString = getSlug(brewery.name + brewery.altName + brewery.place);
								return searchString.includes(getSlug(self.searchPhrase));
							});
						}

						return breweries;
					},
					reversedFilteredBreweries() {
						let breweries = this.filteredBreweries.slice();
						return breweries.reverse();
					}
				},
				mounted() {
					this.fetchSourceData();
					this.buildYearsArray();
					this.buildTypesArray();
					this.calculateStatistics();
					this.fitMapBoundsToCoordinates();
				},
				methods: {
					fetchSourceData() {
						this.countries = sourceCountries.sort(function(a, b) {
							a.breweries = 0;
							return a.name.localeCompare(b.name);
						});
						this.breweries = sourceBreweries;
						this.lastVisit = this.visibleBreweries[0].visited;
					},
					buildYearsArray() {
						let self = this;
						let previousBreweryYear = null;

						this.breweries.forEach(function(brewery) {
							let year = brewery.visited.format("Y");

							if(!previousBreweryYear) {
								previousBreweryYear = {
									year: year,
									breweries: 1,
								};
							} else if(previousBreweryYear.year === year) {
								previousBreweryYear.breweries++;
							} else {
								self.years.push(previousBreweryYear);
								previousBreweryYear = {
									year: year,
									breweries: 1,
								};
							}
						});

						if(previousBreweryYear) {
							this.years.push(previousBreweryYear);
						}
					},
					buildTypesArray() {
						let self = this;

						this.breweries.forEach(function(brewery) {
							let label = brewery.type;
							let type = self.types.find(function(type) {
								return type.label === label;
							});

							if(!type) {
								self.types.push({
									label: label,
									breweries: 1,
								});
							} else {
								type.breweries++;
							}
						});

						this.types = this.types.sort(function(a, b) {
							return a.label.localeCompare(b.label);
						});
					},
					calculateStatistics() {
						let self = this;
						this.countries.forEach(function(country) {
							country.breweries = self.breweries.filter(function(brewery) {
								return brewery.country === country.symbol;
							}).length;
						})	
					},
					fitMapBoundsToCoordinates() {
						let corners = new L.latLngBounds(this.filteredBreweries.map(function(marker) {
							return marker.marker;
						}));

						let map = this.$refs.map.mapObject;
						map.invalidateSize();
						map.fitBounds(corners);

						if(map.getZoom() > maxZoomForRecalculatingBounds) {
							map.setZoom(maxZoomForRecalculatingBounds);
						}
					},
					filterByCountry(country) {
						this.filters.country = country.symbol !== this.filters.country ? country.symbol : null;
						this.fitMapBoundsToCoordinates();
					},
					filterByType(type) {
						this.filters.type = type !== this.filters.type ? type : null;
						this.fitMapBoundsToCoordinates();
					},
					filterByYear(year) {
						this.filters.year = year !== this.filters.year ? year : null;
						this.fitMapBoundsToCoordinates();
					},
					isInactiveCountryBySymbol(symbol) {
						return this.filters.country && this.filters.country !== symbol
					},
					isInactiveTypeByName(name) {
						return this.filters.type && this.filters.type !== name
					},
					toggleFilterBox(box) {
						if(this.filterBox === box) {
							this.filterBox = null;
						} else {
							this.filterBox = box;
						}
					},
					isFilterBoxActive(box) {
						return this.filterBox === box;
					},
					isFilterSet(filter) {
						return !!this.filters[filter];
					},
					getBreweryLogo(brewery) {
						return brewery.logo ? brewery.logo : this.defaultIcon
					},
					getBreweryLogoIcon(brewery) {
						return new L.Icon({
							iconUrl: this.getBreweryLogo(brewery),
							iconSize: [36, 36],
						});
					},
					selectBrewery(brewery) {
						this.selectedBrewery = brewery;

						let map = this.$refs.map.mapObject;
						map.invalidateSize();

						if(true) {
							map.setZoom(15);
							map.panTo(brewery.marker);
						} else {
							map.flyTo(brewery.marker, 15);
						}

						let offset = this.$refs[this.getBreweryRef(brewery)][0].offsetTop;
						console.log(offset);
						this.$refs.breweries.scrollTop = offset - 420;
					},
					resetSelectedBrewery() {
						this.selectedBrewery = null;
					},
					getColor(brewery) {
						return brewery.visited.isAfter(moment()) ? "#ff0000" : "#3CB371";
					},
					getOpacity(brewery) {
						if(!this.selectedBrewery) {
							return 0.75;
						}

						return brewery === this.selectedBrewery ? 1 : 0.25;
					},
					getFillOpacity(brewery) {
						if(!this.selectedBrewery) {
							return 0.5;
						}

						return brewery === this.selectedBrewery ? 0.5 : 0.1;
					},
					getCountryNameBySymbol(symbol) {
						return this.countries.find(function(country) {
							return country.symbol === symbol;
						}).name;
					},
					shouldBreweryBeActive(brewery) {
						return !this.selectedBrewery || this.selectedBrewery === brewery
					},
					getBreweryRef(brewery) {
						return getSlug("brewery- " + brewery.name + " " + brewery.place);
					},
				}
			});
		</script>
	</body>
</html>

